body {
    background-color: #E9EBEE; /*FB背景灰白*/
    padding: 15px 0 15px 0;
    font-family: 微軟正黑體;
}

/*深藍色項目*/
.BlueItem{
    background-color: #3B5998; /*FB深藍配色*/
}

header h1{
    background-color: #ffffff;
    border: 0px;
    border-radius: 45px;
    height: 126px;
    text-align: center;
    font-weight: bold;
    line-height: 126px;  /*垂直置中*/
    letter-spacing: 8px;
    color:  #3F48CC;
}

/*導覽列*/
#navigationList{
    display: table;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#navigationList li{
    list-style-type: none;
    float: right;
    margin-left: 30px;
    padding: 0px;
}

#navigationList li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

#navigationList li a:hover {
    background-color: #728EC9;
}

#Chat {
    border-radius: 45px;
    margin:20px;
    padding:20px;
    border:solid;
    border-width:1px;
    background-color:#bbb9b9;
}

#myself{
    border-radius: 45px;
    border:solid;
    border-width:1px;
    background-color:#E9EBEE;
    padding:5px;
    float:right;
    color:#ab0af1;
}

span{
    border-radius: 45px;
    border:solid;
    border-width:1px;
    background-color:#E9EBEE;
    padding:5px;
    color:#3B5998;
}

#container{
    padding-bottom: 70px;  /*留置底內距 來容納 footer*/
    min-height: 100%
}

footer{
    position: relative;
    margin-top: -70px;  /*負頂邊緣使footer容納近 Chat 的置底內距 達成置底的效果*/
}

footer h4{
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
}