#Chat {
    border-radius: 45px;
    margin:20px;
    padding:20px;
    border:solid;
    border-width:1px;
    background-color:#bbb9b9;
    font-weight: bold;
    height: 400px; overflow-y: scroll
}

.r-block {
    border-radius:15px;
    max-width:80%;
    float:right;
    padding: 10px;
  margin-top:5px;
  background-color:#E9EBEE;
  border: 1px solid #ab0af1;
}

.l-block {
    border-radius:15px;
    max-width:80%;
    float:left;
    padding: 10px;
  margin-top:5px;
  background-color:#E9EBEE;
  border: 1px solid #3B5998;
}

.Text{
  border-radius:15px;
  width:80%;
  padding: 10px;
  margin-top:5px;
}

.others {
    float:left;
    color:#3B5998;
    }
    
.my {
    float:right;
    color:#ab0af1;
    }


#container{
    padding-bottom: 70px;  /*留置底內距 來容納 footer*/
    min-height: 100%;
}

#textInput{
    text-align: center;
}

#textInput input{
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

footer{
    position: relative;
    margin-top: -70px;  /*負頂邊緣使footer容納近 Chat 的置底內距 達成置底的效果*/
}

footer h4{
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
}