
#Chat {
    border-radius: 45px;
    margin:20px;
    padding:20px;
    border:solid;
    border-width:1px;
    background-color:#bbb9b9;
    font-weight: bold;
    word-wrap:break-word; 
}

span.myText{
    display:block;
    float:right;
    width:-40%;
    border-radius: 45px;
    border:solid;
    border-width:1px;
    background-color:#E9EBEE;
    padding:7px;
    float:right;
    color:#ab0af1;
    max-width:40%;


}

span.othersText{
    display:block;
    float:left;
    width: 40%;
    border-radius: 45px;
    border:solid;
    border-width:1px;
    background-color:#E9EBEE;
    padding:7px;
    
    color:#3B5998;
}

#container{
    padding-bottom: 70px;  /*留置底內距 來容納 footer*/
    min-height: 100%;
}

#textInput{
    text-align: center;
}

#textInput input{
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

footer{
    position: relative;
    margin-top: -70px;  /*負頂邊緣使footer容納近 Chat 的置底內距 達成置底的效果*/
}

footer h4{
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
}